<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mypage.css">
    <link rel="stylesheet" href="/common.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="mypage_wrap">
        <div class="mypage_header">
            <li class="mypage_header_visual">

            </li>
            <li class="mypage_header_info">
                <p>이승희</p>
                <p>leeeeee@naver.com</p>
            </li>

        </div>


        <div class="mypage_list">
            <li class="mypage_list_li">
                <i class="fas fa-2x fa-clipboard-list"></i>주문목록<a href="#"><i class="fas fa-chevron-right"></i></a></li>
            <li class="mypage_list_li">
                <i class="far fa-2x fa-star"></i>리뷰관리<a href="#"><i class="fas fa-chevron-right"></i></a></li>
            <li class="mypage_list_li">
                <i class="fas fa-2x fa-users-cog"></i>내정보관리<a href="#"><i class="fas fa-chevron-right"></i></a></li>
            <li class="mypage_list_li">
                <i class="fas fa-2x fa-question"></i>고객센터<a href="#"><i class="fas fa-chevron-right"></i></a></li>
            <li class="mypage_list_li">
                <i class="fas fa-cart-arrow-down fa-2x"></i></i>장바구니<a href="#"><i class="fas fa-chevron-right"></i></a></li>
        </div>

        <div class="mypage_footer">
            <a href="#" class="mypage_button">
                로그아웃</button>
        </div>
    </div>

</body>

</html>