<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./cart.css">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <ul>
                <li id="top_test">
                    <i class="fas fa-chevron-left fa-2x"></i>
                    <h2>장바구니</h2>
                </li>
                <li><a href="#">관리하기</a></li>
            </ul>
        </div>

        <div id="cart_contens">
            <ul>
                <li class="product">
                    <div class="p_picture">사진<img src=""></div>
                    <div class="p_text">
                        <h1 class="text_low">상품이름</h1>
                        <p class="text_low">가격</p>
                        <a class="del_btn text_low" href="#">삭제하기</a>
                        <a class="cart_btn text_low" href="#">장바구니 담기</a>
                    </div>
                </li>
                <li class="product">
                    <div class="p_picture">사진<img src=""></div>
                    <div class="p_text">
                        <h1 class="text_low">상품이름</h1>
                        <p class="text_low">가격</p>
                        <a class="del_btn text_low" href="#">삭제하기</a>
                        <a class="cart_btn text_low" href="#">장바구니 담기</a>
                    </div>
                </li>
                <li class="product">
                    <div class="p_picture">사진<img src=""></div>
                    <div class="p_text">
                        <h1 class="text_low">상품이름</h1>
                        <p class="text_low">가격</p>
                        <a class="del_btn text_low" href="#">삭제하기</a>
                        <a class="cart_btn text_low" href="#">장바구니 담기</a>
                    </div>
                </li>
                <li class="product">
                    <div class="p_picture">사진<img src=""></div>
                    <div class="p_text">
                        <h1 class="text_low">상품이름</h1>
                        <p class="text_low">가격</p>
                        <a class="del_btn text_low" href="#">삭제하기</a>
                        <a class="cart_btn text_low" href="#">장바구니 담기</a>
                    </div>
                </li>
                <li class="product">
                    <div class="p_picture">사진<img src=""></div>
                    <div class="p_text">
                        <h1 class="text_low">상품이름</h1>
                        <p class="text_low">가격</p>
                        <a class="del_btn text_low" href="#">삭제하기</a>
                        <a class="cart_btn text_low" href="#">장바구니 담기</a>
                    </div>
                </li>
            </ul>
        </div>

        <div id="nothing">
            <i class="fas fa-shopping-cart fa-4x"></i>
            <h3 class="text_tum">장바구니에</h3>
            <p class="text_tum">담긴 상품이 없습니다</p>
            <a class="text_tum" href="#">오늘의 추천상품</a>
        </div>
    </div>
</body>

</html>