<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" href="./chage.css">
</head>

<body>
    <div dir="wrap">

        <div id="header">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </a>
                </li>
                <li>로고</li>
                <li><a href="/"><i class="fas fa-times fa-2x"></i></a></li>
            </ul>
        </div>

        <div id="money_box">
            <div>
                <a href="#">
                    <h5 class="text_tum">남은 잔액</h5>
                    <h1 class="text_tum"> 50000원</h1>
                </a>
                <form class="charge" action="">
                    <input type="number">원
                    <input type="submit" value="충전하기">
                </form>
            </div>
        </div>

        <div id="point_box">
            <h5 class="text_tum">남은 포인트</h5>
            <h1 class="text_tum">50000 point</h1>
        </div>

        <div id="advertixement">
            <h1>광고하는 란입니다</h1>
            <img src="">
        </div>

    </div>
</body>

</html>