<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1 user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
   
    <div id="wrap">
        <div id="top">
    
            <div id="logo"></div>
            <form id="search_box" action="/">
                <input name="keystring" class="search_section" type="text"/>
                <input type="submit" id="search_btn" value="">
            </form>
            <div class="line"></div>
        </div>

        <div id="slide_box"></div>
        <div class="line"></div>

        <div id="item_recommend_box">
            <h3 class="item_txt">아이템 기반 추천</h3>
            <div class="line"></div>
            <ul class="item_slide">
                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_item">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

            </ul>
        </div> 

        <div id="content_recommend_box">
            <h3 class="item_txt">컨텐츠 기반 추천</h3>
            <div class="line"></div>
            <ul class="item_slide">
                <li class="recommend_item rec_content">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_content">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_content">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>

                <li class="recommend_item rec_content">
                    <div class="recomment_picture"></div>
                    <div class="item_info">
                        <p class="item_name">무 1개</p>
                        <p class="mart_price">emart:<span>2000</span>원</p>
                        <p class="market_price">최저가:<span>2000</span>원</p>
                    </div>
                </li>
            </ul>
        </div>


        <div class="line"></div>
        <div id="footer">
            
            <p>(주)통문이</p>
            <ul class="info_corporation">
                <li>주소:서울특별시 강동구 천호대로 </li>
                <li>TEL:02-111-1111</li>
                <li>대표자:이승희 김승원 정성진 윤세호 오상엽</li>
            </ul>
        </div>

    </div>
    <script type = "text/javascript" src="./main.js"></script>
</body>
</html>