*{font-family:Helvetica,Apple-Gothic,Dotum,"돋움",Gulim,"굴림" ; margin:0 auto; overflow-x: hidden;}
ul,li{text-decoration: none;}

#wrap{width:100vw;}

/**************top***********/
#top{
    position:fixed;
    top:0;
    width:100vw;
    background-color: white;
    z-index:3;
    padding-top: 1em;
    box-shadow: inset 0.1em 0.1em 0.7em 7pxrgba(0,0,0,0.5);
}

#logo{
    width:50%;
    height:4em;
    background-color: black;
}

#search_box{
    margin:0 auto;
    width:80%;
    flex-direction: column;
}

.search_section{
    width:85%;
    height:2em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid gray;
}

.search_section:focus{
    border: 1px solid blue;
}

#search_btn{
    display:inline-block;
    width:10%;
    height:2.3em;
    margin-top:1em;
    margin-bottom:-0.8em;
    border-radius: 0.5em;
    background-image: url('./search.JPG') ;
    background-size: cover;

    border:1px solid grey;

}

.line{
    width:100%;
    height:1px;
    background: grey;
    box-shadow: 0.5em 0.5em 0.5em -0.5em gray;
    overflow-x: hidden;

}


/*       slide 부분        */
#slide_box{
    clear:both;
    margin-top: 8.55em;
    width:100%;
    height:10em;
    border-top:1px solid black;
    background-color: brown;
}


/* recommend box */


.item_slide{
    width:100%;
    white-space:nowrap;
    position:relative;
    margin-bottom: 3em;
    overflow-x: unset;
    padding:1em;
}


.recommend_item{
    width: 30vw;
    height:12em;
    /* margin-right:1em; */
    margin-top:2em;
    border-radius: 0.5em;
    border:1px solid gray;
    box-shadow: 0.5em 0.5em 0.5em -0.5em gray;
    display: inline-block;
}
.item_txt{
    height:3em;
    background:pink;
    width:98%;
    margin-left:2%;
    display:block;
    line-height: 4em;
    overflow-y: hidden;
}


.recomment_picture{
    width:100%;
    height:7em;
    background-image:url('./radish.jpg')linear-gradient()
    border-bottom: 1px grey;
}

.item_info{
    width:100%;
    height:5em;
    background-color: lightblue;
    clear:both;
    cursor: move;
}
.mart_price{
    color:orange;
    font-weight: bold;
}

/***********************/


#content_recommend_box,#item-recommend-box{
    width:100%;
    height:23em;
    box-sizing: border-box;
    
}
/****footer*******/
#footer{
    clear:both;
    margin-top:10em;
    padding-top:3em;
    width:100%;
    height:10em;
    background:lightgrey;
    margin:0 auto;
    text-align: center;
}

