<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./menu.css">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <ul>
                <li> <a href="#">할인상품</a> </li>
                <li> <a href="#">로켓배송</a> </li>
                <li> <a href="#">로켓직구</a> </li>
                <li> <a href="#">로켓프레시</a> </li>
            </ul>
        </div>
        <div id="middle">
            <ul>
                <li>
                    <a href="#">대분류 링크이동</a>
                    <ul>
                        <li>중분류</li>
                        <li>중분류1</li>
                        <li>중분류2</li>
                    </ul>
                </li>
                <li>
                    <a href="#">대분류 링크이동</a>
                    <ul>
                        <li>중분류</li>
                        <li>중분류1</li>
                        <li>중분류2</li>
                    </ul>
                </li>
                <li>
                    <a href="#">대분류 링크이동</a>
                    <ul>
                        <li>중분류</li>
                        <li>중분류1</li>
                        <li>중분류2</li>
                    </ul>
                </li>
                <li>
                    <a href="#">대분류 링크이동</a>
                    <ul>
                        <li>중분류</li>
                        <li>중분류1</li>
                        <li>중분류2</li>
                    </ul>
                </li>
                <li>
                    <a href="#">대분류 링크이동</a>
                    <ul>
                        <li>중분류</li>
                        <li>중분류1</li>
                        <li>중분류2</li>
                    </ul>
                </li>
                <li>
                    <a href="#">대분류 링크이동</a>
                    <ul>
                        <li>중분류</li>
                        <li>중분류1</li>
                        <li>중분류2</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer">
        <h3>여기가 바로 광고란 ???</h3>
        <ul>
            <li>
                <a href="#">여기는 광고란입니다 돈을 벌수있는 광고란</a>
            </li>
            <li>
                <a href="#">여기는 광고란입니다 돈을 벌수있는 광고란</a>
            </li>
            <li>
                <a href="#">여기는 광고란입니다 돈을 벌수있는 광고란</a>
            </li>
            <li>
                <a href="#">여기는 광고란입니다 돈을 벌수있는 광고란</a>
            </li>
        </ul>
    </div>
</body>

</html>