<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mypage.css">
    <link rel="stylesheet" href="common.css">
    <title>Document</title>
</head>
<body>
    <div class="mypage_wrap">
        <div class="mypage_header">
            <li class="mypage_header_visual">

            </li>
            <li class="mypage_header_info">
                <p></p>
                <p></p>
            </li>

        </div>
            <button class="login_box">카카오로 시작하기</button>
            <button class="login_box">네이버로 시작하기</button>

</body>
</html>