.mypage_header_info{
    padding: 20px 40px;
    
}

.mypage_list_li{
    height: 3em;
    padding: 5px 30px;
    line-height:47px ;
    border: 1px solid #E2E2E2;
}

.mypage_list_li>a>i{
    float: right;
    line-height:47px ;
    font-size: 27px;
}

.mypage_list_li>i{
    width: 40px;
    margin-right: 15px;
}

.mypage_header_visual{
width: 162px;
height: 160px;
border-radius: 160px;
background: #FFFFFF;
margin: 40px  auto 0; 
border: 10px solid rgba(0, 0, 0, 0.1);
}

.mypage_footer{
    padding: 30px;
    text-align: center;
    font-size: x-large;

}

li{
    list-style: none;
}


.login_box{
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 30px auto;
}