<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="navi.css">
</head>
<body>
    <div class="foot_navi">
        <li class="foot_navi_li"><a href="#">
                <i class="fab fa-microsoft fa-2x"></i>
                <p class="foot_font">카테고리</p>
        </li>
        <li class="foot_navi_li"><a href="#">
                <i class="fas fa-search fa-2x"></i>
                <p class="foot_font">검색</p>
        </li>
        <li class="foot_navi_li"><a href="#">
                <i class="fas fa-home fa-2x"></i>
                <p class="foot_font">홈</p>
        </li>
        <li class="foot_navi_li"><a href="#">
                <i class="far fa-user fa-2x"></i>
                <p class="foot_font">마이페이지</p>
        </li>
        <li class="foot_navi_li"><a href="#">
                <i class="fas fa-cart-arrow-down fa-2x"></i>
                <p class="foot_font">장바구니</p>
        </li>
    </div>
</body>

</html>