<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="order_wrap">
        <div>상단 네비</div>
            <li>
                <input type="search">
            </li>
        </div>
    </div>
    <div class="order_list_wrap">
        <dlv class="order_view">리뷰작성
            <ul>
                <li>img</li>
                <li>
                    <p>물건명</p>
                    <p>구매완료일</p>
                    <p>별점</p>
                    <p>작성 기한</p>
                </li>
            </ul>
        </dlv>
</body>
</html>