<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./pay.css">
</head>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <i class="fas fa-chevron-left fa-2x"></i>
            <h2>주문/결제</h2>
        </div>

        <div>
            <form id="content" action="">
                <div>
                    <h2>예약자 정보 | 정성진</h2>
                    <p>전화번호 : 01012341234</p>
                    <h3>픽업 받으러 오는 사람</h3>
                    <p>정성진</p>
                </div>
                <div>
                    <h2>픽업 시간 설정</h2>
                    <select name="pickup_time"">
                    <option value="">am 10:00</option>
                    <option value="">am 10:30</option>
                    <option value="">am 11:00</option>
                    <option value="">am 11:30</option>
                    <option value="">pm 12:00</option>
                    <option value="">pm 12:30</option>
                    <option value="">pm 1:00</option>
                    <option value="">pm 1:30</option>
                    <option value="">pm 2:00</option>
                    <option value="">pm 2:30</option>
                    <option value="">pm 3:00</option>
                    <option value="">pm 3:30</option>
                </select>
            </div>
            <div> 
                <h2>남은 충전 금액</h2>
                <p>100000원</p>
                </div>
                <div>
                    <h2>최종결제 금액</h2>
                    <p>50000원</p>
                </div>
                <input id="pay_btn" type="submit" value="결제하기">
            
            </form>

        </div>


        <div></div>
    </div>
</body>

</html>