<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" href="./pick_up.css">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <ul>
                <li id="back">
                    <a href="#">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </a>
                </li>
                <h1>pick_up</h1>
            </ul>
        </div>

        <div id="item_box">
            <ul>
                <li>
                    <h2>현재 상태 : 준비중</h2>
                    <a class="in_block" href="#"><img class="img_box" src="" alt=""></a>
                    <a class="in_block2" href="#">
                        <h3>상품이름 : 꿀맛 고구마</h3>
                        <h3>상품가격 : 5000원</h3>
                        <h3>판매상점 : 성진이네</h3>
                        <h3>예약시간 : 오후 2시 </h3>
                    </a>
                    <a class="in_block3" href="#">취소하기</a>
                </li>
               
                <li>
                    <h2>현재 상태 : 준비중</h2>
                    <a class="in_block" href="#"><img class="img_box" src="" alt=""></a>
                    <a class="in_block2" href="#">
                        <h3>상품이름 : 꿀맛 고구마</h3>
                        <h3>상품가격 : 5000원</h3>
                        <h3>판매상점 : 성진이네</h3>
                        <h3>예약시간 : 오후 2시 </h3>
                    </a>
                    <a class="in_block3" href="#">취소하기</a>
                </li>
                <li>
                    <h2>현재 상태 : 준비중</h2>
                    <a class="in_block" href="#"><img class="img_box" src="" alt=""></a>
                    <a class="in_block2" href="#">
                        <h3>상품이름 : 꿀맛 고구마</h3>
                        <h3>상품가격 : 5000원</h3>
                        <h3>판매상점 : 성진이네</h3>
                        <h3>예약시간 : 오후 2시 </h3>
                    </a>
                    <a class="in_block3" href="#">취소하기</a>
                </li>
                <li>
                    <h2>현재 상태 : 준비중</h2>
                    <a class="in_block" href="#"><img class="img_box" src="" alt=""></a>
                    <a class="in_block2" href="#">
                        <h3>상품이름 : 꿀맛 고구마</h3>
                        <h3>상품가격 : 5000원</h3>
                        <h3>판매상점 : 성진이네</h3>
                        <h3>예약시간 : 오후 2시 </h3>
                    </a>
                    <a class="in_block3" href="#">취소하기</a>
                </li>
            </ul>

        </div>
    </div>

</body>

</html>