<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./product.css">
</head>

<body>
    <div id="wrap">

        <div id="header">
            <ul id="header_box">
                <li>
                    <a href="#">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </a>
                </li>
                <li id="search">
                    <form action="">
                        <input id="seach_box" type="text">
                    </form>
                </li>
                <li><i id="seach_icon" class="fas fa-search fa-2x"></i></li>
                <li><i class="fas fa-home fa-2x"></i></li>
                <li><i class="fas fa-shopping-cart fa-2x"></i></li>
            </ul>
        </div>

        <div id="content">
            <div>이미지</div>
            <div>이미지</div>
            <div>이미지</div>
            <div>이미지</div>
        </div>
        <div id="product_text">
            <h4 class="text_tum rigth">별점 :✰✰✰✰✰</h4>
            <h2 class="text_tum">상품이름 : 꿀맛나는 고구마</h2>
            <h5 class="text_tum">그램당 가격 </h5>
            <h2 class="text_tum">상품가격 : 5000원</h2>
            <h5 class="text_tum rigth">원산지:국내산</h5>

        </div>
        <div id="store_text">
            <h3 class="text_tum">판매상점 : 성진이네</h3>
            <h3 class="text_tum">상점별점 : ✰✰✰✰✰</h3>
            <a class="text_tum" href="#">같은 상점 상품 보러가기</a>
        </div>

        <div class="same_product_box">
            <ul>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="" alt="">
                        <h4 class="text_tum">상품 이름</h4>
                        <h4 class="text_tum">별점 : ✰✰✰✰✰</h4>
                        <h4 class="text_tum">판매상점 : 성진이네</h4>
                        <h4 class="text_tum">원산지:국내산</h4>
                        <a class="quick_go" href="#">상품보러가기</a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="" alt="">
                        <h4 class="text_tum">상품 이름</h4>
                        <h4 class="text_tum">별점 : ✰✰✰✰✰</h4>
                        <h4 class="text_tum">판매상점 : 성진이네</h4>
                        <h4 class="text_tum">원산지:국내산</h4>
                        <a class="quick_go" href="#">상품보러가기</a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="" alt="">
                        <h4 class="text_tum">상품 이름</h4>
                        <h4 class="text_tum">별점 : ✰✰✰✰✰</h4>
                        <h4 class="text_tum">판매상점 : 성진이네</h4>
                        <h4 class="text_tum">원산지:국내산</h4>
                        <a class="quick_go" href="#">상품보러가기</a>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="" alt="">
                        <h4 class="text_tum">상품 이름</h4>
                        <h4 class="text_tum">별점 : ✰✰✰✰✰</h4>
                        <h4 class="text_tum">판매상점 : 성진이네</h4>
                        <h4 class="text_tum">원산지:국내산</h4>
                        <a class="quick_go" href="#">상품보러가기</a>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="comparison_box">
            <li>
                <a href="#">
                    <img src="" alt="">
                    <div class="comparison_text_box">
                        <h5>상품 이름</h5>
                        <h5>별점 : ✰✰✰✰✰</h5>
                        <h5>판매상점 : 성진이네</h5>
                        <h5>원산지:국내산</h5>
                        <h5>가격 : 50000원</h5>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="" alt="">
                    <div class="comparison_text_box">
                        <h5>상품 이름</h5>
                        <h5>별점 : ✰✰✰✰✰</h5>
                        <h5>판매상점 : 성진이네</h5>
                        <h5>원산지:국내산</h5>
                        <h5>가격 : 50000원</h5>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="" alt="">
                    <div class="comparison_text_box">
                        <h5>상품 이름</h5>
                        <h5>별점 : ✰✰✰✰✰</h5>
                        <h5>판매상점 : 성진이네</h5>
                        <h5>원산지:국내산</h5>
                        <h5>가격 : 50000원</h5>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="" alt="">
                    <div class="comparison_text_box">
                        <h5>상품 이름</h5>
                        <h5>별점 : ✰✰✰✰✰</h5>
                        <h5>판매상점 : 성진이네</h5>
                        <h5>원산지:국내산</h5>
                        <h5>가격 : 50000원</h5>
                    </div>
                </a>
            </li>
        </ul>

        <!-- propuct_main -->
        <div id="propuct_main">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <!-- review -->
        <div id="review">
            <a class="review_top">
                <span>상품평</span>
                <span style="float: right;"> &#10148;</span>
            </a>
            <ul>
                <li>
                    <a href="#">
                        <h3 class="text_tum">userid</h3>
                        <h2 class="text_tum">별점 : ✰✰✰✰✰</h2>
                        <div class="text_tum">리뷰 내용</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3 class="text_tum">userid</h3>
                        <h2 class="text_tum">별점 : ✰✰✰✰✰</h2>
                        <div class="text_tum">리뷰 내용</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3 class="text_tum">userid</h3>
                        <h2 class="text_tum">별점 : ✰✰✰✰✰</h2>
                        <div class="text_tum">리뷰 내용</div>
                    </a>
                </li>
            </ul>
        </div>

        <div id="footer">
            <a href="#">찜하기</a>
            <a href="#">구매하기</a>
        </div>


    </div>
</body>

</html>