<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./re_main.css">
</head>

<body>

    <div id="wrap">
        <div id="header">
            <div>
                <img id="logo" src="../logo.jpeg">
            </div>
            <div>
                <i class="fas fa-map-marker-alt fa-1x"></i>
                <span>방학동 도깨비 시장</span>
            </div>
            <form action="">
                <input id="text" type="text">
                <button type="submit">
                    <i class="fas fa-search fa-1x"></i>
                </button>
            </form>
        </div>

        <div id="w100">
            <div id="banner">
                <div class="advertise">
                </div>
                <div class="advertise">
                </div>
                <div class="advertise">
                </div>
                <div class="advertise">
                </div>
            </div>
        </div>

        <div class="text_line">
            <h2 class="inblock">아이템 기반 추천</h2>
            <a class="right inblock" href="#">더보기</a>
        </div>
        <div class="same_product_box">
            <ul>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="text_line">
            <h2 class="inblock">컨텐츠 기반 추천</h2>
            <a class="right inblock" href="#">더보기</a>
        </div>
        <div class="same_product_box">
            <ul>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="text_line">
            <h2 class="inblock">나의 단골집</h2>
            <a class="right inblock" href="#">더보기</a>
        </div>
        <div class="same_product_box">
            <ul>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="small_product_img" src="./banana.jpeg" alt="">
                        <h3 class="text_tum">상품 이름</h3>
                        <h4 class="text_tum">원산지</h4>
                        <h3 class="text_tum">이마트가격:3000원</h3>
                        <h3 class="text_tum">최저가:3000원</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div id="footer">
            
            <p>(주)통문이</p>
            <ul class="info_corporation">
                <li>주소:서울특별시 강동구 천호대로 </li>
                <li>TEL:02-111-1111</li>
                <li>대표자:이승희 김승원 정성진 윤세호 오상엽</li>
            </ul>
        </div>

        <div class="foot_navi">
            <li class="foot_navi_li"><a href="#">
                    <i class="fab fa-microsoft fa-2x"></i>
                    <p class="foot_font">카테고리</p>
            </li>
            <li class="foot_navi_li"><a href="#">
                    <i class="fas fa-search fa-2x"></i>
                    <p class="foot_font">검색</p>
            </li>
            <li class="foot_navi_li"><a href="#">
                    <i class="fas fa-home fa-2x"></i>
                    <p class="foot_font">홈</p>
            </li>
            <li class="foot_navi_li"><a href="#">
                    <i class="far fa-user fa-2x"></i>
                    <p class="foot_font">마이페이지</p>
            </li>
            <li class="foot_navi_li"><a href="#">
                    <i class="fas fa-cart-arrow-down fa-2x"></i>
                    <p class="foot_font">장바구니</p>
            </li>
        </div>

    </div>

</body>

</html>