<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="review.css">
    <link rel="stylesheet" href="common.css">
</head>
<body>
<div>
    <div class="review_wrap">
        <div>상단 네비</div>
        <div class="review_point">
            <ul>
                <li>img</li>
                <li>
                    <p>이름</p>
                    <p>적립된 포인트</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="review_view_wrap">
        <dlv class="review_view">리뷰작성
            <ul>
                <li>img</li>
                <li>
                    <p>물건명</p>
                    <p>구매완료일</p>
                    <p>별점</p>
                    <p>작성 기한</p>
                </li>
            </ul>
        </dlv>
        <dlv class="review_viewed">작성한 리뷰
            <ul>
                <li>
                    <p>img</p>
                    <p>물건명</p>
                </li>
                <li>
                    <p>별점</p>
                    <p>날짜</p>
                    <p>수정버튼</p>
                </li>
            </ul>
        </dlv>
        </ul>
    </div>
    </div>



</body>
</html>