<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="review_write.css">
    <link rel="stylesheet" href="common.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <title>Document</title>
</head>
<body>
    <div class="order_wrap">
        <div>상단 네비</div>
    </div>

    <div class="review_point">
        <h1 class="pd_title"><i class="fas fa-box"></i>상품 품질 평가</h1>
        <ul>
            <li class="review_pd">
                <p class="pd_img">이미지</p>
                <p class="pd_name">상품명<p>
            </li>

            <li class="">
                <p>품질에 대해 얼마나 만족하시나요?</p>
                <p>별점체크란</p>
            </li>
        </ul>
        </dlv>
        <div>리뷰 작성 완료</div>
</body>
</html>

