<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="order_wrap">
        <div>상단 네비</div>
        </div>
    </div>
    <div class="order_list_wrap">
        <li>
            <p>이미지</p>
            <p>상품명<p>
        </li>
        <li>
            <p>품질에 대해 얼마나 만족하시나요?</p>
            <p>별점체크란</p>
        </li>
        </dlv>
</body>
</html>